@import 'tailwindcss';

:root {
  --background: #0b1728;
  --foreground: #9ab2c8;
}

@theme inline {
  --font-primary: var(--font-spaceGrotesk);

  --color-neo-dark: #0b1728;
  --color-neo-black: #09111e;
  --color-neo-border: #1e2d42;
  --color-neo-grey: #e0e8ef;
  --color-neo-coudy: #9ab2c8;
  --color-neo-blue: #00bdf2;
  --color-neo-green: #47caa6;
  --color-neo-pink: #ff9983;
}

@layer base {
  h4 {
    @apply text-xl font-semibold text-neo-grey tracking-normal;
  }
  p {
    @apply text-sm text-neo-coudy tracking-normal;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary);
}
